* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .animation {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    text-align: center;
    padding-top: 7rem;
    animation: animation 7s;
} */

/* @keyframes animation {
    from{}
    to{}
} */

/* @keyframes animation {
    0%
       {background: blue;}
    50%
       {background: yellow;}
    100%
      {background: green;}
} */

.container {
  width: 200px;
  overflow: hidden;
  margin: auto;
}

.ul {
    position: relative;
  display: inline-flex;
  animation: Animation 4s infinite ease-in-out;
}

.list1 {
  width: 200px;
  height: 200px;
  background: blue;
}

.list2 {
  width: 200px;
  height: 200px;
  background: red;
}

.list3 {
  width: 200px;
  height: 200px;
  background: yellow;
}

.list4 {
  width: 200px;
  height: 200px;
  background: green;
}

@keyframes Animation {
  0% {
    right: 0;
  }

  30% {
    right: 200px;
  }
  60% {
    right: 400px;
  }
  100% {
    right: 600px;
  }
}
